about-time
accelerate==1.8.0
aiofiles
alembic
alive-progress
beautifulsoup4
bleach
controlnet_aux
diffusers==0.34.0
dreamsim
einops
huggingface-hub
lpips
matplotlib
numpy==2.3.0
opencv-contrib-python
openmim
pandas
peft
pillow
pydantic
requests
safetensors
scikit-image
scikit-learn
scipy
sentencepiece
timm
torchmetrics
tqdm
transformers
pymoo